


{% extends "base.html" %}

{% block content %}
<h1>Edit Recurring Todo</h1>
<form action="/edit_recurring_todo/{{ todo.id }}" method="post">
<label for="task_name">Task Name:</label>
<input type="text" name="task_name" id="task_name" value="{{ todo.task_name }}">
<br>
<label for="due_date">Due Date:</label>
<input type="date" name="due_date" id="due_date" value="{{ todo.due_date }}">
<br>
<label for="frequency">Frequency:</label>
<select name="frequency" id="frequency">
<option value="daily" {% if todo.frequency == 'daily' %}selected{% endif %}>Daily</option>
<option value="weekly" {% if todo.frequency == 'weekly' %}selected{% endif %}>Weekly</option>
<option value="monthly" {% if todo.frequency == 'monthly' %}selected{% endif %}>Monthly</option>
<option value="yearly" {% if todo.frequency == 'yearly' %}selected{% endif %}>Yearly</option>
</select>
<br>
<label for="progress">Progress:</label>
<input type="number" name="progress" id="progress" min="0" max="100" value="{{ todo.progress }}">
<br>
<input type="submit" value="Update Todo">
</form>
{% endblock %}

